.header {
  background: #f3f7ff;
  height: 64px;
  display: flex;
  justify-content: center;
}
.headerParagraph {
  font-family: Archivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  align-self: center;
}
